<!DOCTYPE html>
<html lang="en">

<head>
    <title>Index Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .slidecontainer {
            width: 25%;
        }
    </style>
</head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
        </div>
    </div>
</nav>

<body>
    <h1>Tune the slider to the volume you want to view at.</h1>

    <form method="POST" action="/startControl">
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" name="volumeSet" id="volumeController">
            <p>
                <b>Value: </b>
                <span id="volumeValue"></span>
            </p>
            <input type="submit" value="Start" />
            <script>
                var slider = document.getElementById("volumeController");
                var output = document.getElementById("volumeValue");
                output.innerHTML = slider.value; // Display the default slider value

                // Update the current slider value (each time you drag the slider handle)
                slider.oninput = function () {
                    output.innerHTML = this.value;
                }
            </script>
        </div>
    </form>
    <form method="POST" action="/stopControl">
        <input type="submit" value="Stop" />
    </form>
</body>

</html>